@tailwind base;
@tailwind components;
@tailwind utilities;
.container{
    width: 450px;
    display: flex;
    padding: 20px;
    margin: auto;
    justify-content: space-between
}
.container input[type="text"]{
    font-family: 'Metal Mania',sans-serif;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    width: 125px
}
.container input[type="text"]:hover{
    font-family: 'Metal Mania',sans-serif;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--color);
    width: 130px
}
.addButton {
    font-family: 'Metal Mania',sans-serif;
    text-decoration: none;
    padding: 5px 30px;
    position: relative;
    margin: 0px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    border: 3px solid;
    border-radius: 10px;
    transition: all 0.6s ease;
    background: none;
    cursor: pointer;
}
.addButton:hover {
    box-shadow: 0 0 20px var(--color);
    border-color: var(--color);
    color: var(--color);
}
.addButton nav:nth-child(n) {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 3px solid;
    transition: all 0.6s ease;
}
.addButton nav:nth-child(1) {
    right: 10%;
    top: -6px;
    background-color: #fff;
}
.addButton nav:nth-child(2) {
    left: 10%;
    bottom: -6px;
    background-color: #fff;
}
.addButton:hover nav:nth-child(1) {
    right: 80%;
    transform: rotate(90deg);
    color: var(--color);
    background-color: var(--color);
}
.addButton:hover nav:nth-child(2) {
    left: 80%;
    transform: rotate(90deg);
    color: var(--color);
    background-color: var(--color);
}
.TaskList {
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
}

/* Estilos de la tabla */
.TaskList tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 18px;
    text-transform: capitalize;
}
.TaskList tr td {
    padding: 2px;
}
.TaskList tr td:first-child {
    flex-grow: 2; /* Ajusta según sea necesario */
}
.TaskList tr td:nth-child(2) {
    flex-grow: 3; /* Ajusta según sea necesario */
}
.TaskList tr td.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}
/* Botón de check */
.TaskList tr td .checkButton {
    cursor: pointer;
    padding: 2.5px 10px;
    margin: 0;
    color: #fff;
    letter-spacing: 1px;
    border: 3px solid;
    border-radius: 10px;
    transition: all 0.6s ease;
}
.TaskList tr td .checkButton:hover {
    border-color: var(--color);
    box-shadow: 0 0 20px var(--color);
    color: var(--color);
}
/* Botón de edición */
.TaskList tr td .editButton,
.TaskList tr td .deleteButton {
    cursor: pointer;
    padding: 2.5px 10px;
    margin: 0 5px;
    color: #fff;
    letter-spacing: 1px;
    border: 3px solid;
    border-radius: 10px;
    transition: all 0.6s ease;
}
.TaskList tr td .editButton:hover,
.TaskList tr td .deleteButton:hover {
    border-color: var(--color);
    box-shadow: 0 0 20px var(--color);
    color: var(--color);
}
/* Definir el estado por defecto de los campos de entrada */
.TaskList tr td .box input[type="text"] {
    width: 0;
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.8s;
}
/* Expandir los campos de entrada cuando el cursor esté sobre el botón de edición */
.TaskList tr td .box:hover input[type="text"] {
    width: 100px;
}
/*Color florocente*/
:root{
    --color: #7e00cd;
}